/* GLOBAL STYLES*/
body {
font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.windowMeasure {float:left;}

a {
  cursor: pointer;
}

.contact, .navbar-toggle, .navbar-default .navbar-nav > li > a, .profile, .close-carousel, .carousel-control, .pull-right {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

section{
  position: relative;
  padding: 30px;
}

hr {
  margin: 30px 0; 
  padding-bottom: 20px;
}

section h1 {
  line-height: 40px;
  text-align: center;
}

section p {
  max-width: 700px;
  margin: 0 auto;
  width: 90%;
}

.container{
  position: relative;
}

.carousel-indicators li {
  border-color: #000;
}

.carousel-indicators .active {
  background: #000;
}

.carousel-caption{
  color: #000;
  height: 100%;
  right: 10%;
  width: 35%;
  padding: 10px;
  background: rgba(255, 255, 255, .5);
}


/*SPLASH*/
.splash {
  background: #fff url('../images/1.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*ABOUTME */
.suit {
  position: absolute;
  left: 50%;
  max-width: 750px;
  margin: 0 0 0 -375px;
  top: -200px;
  z-index: -1;
}

.about {
  height: 850px; 
}

.bio {
  position: relative;
  opacity: 0;
  top: 20px;
}

.honorable-mention{
  max-width: 600px;
  margin: 20px auto 0;
  font-weight: bold;
}

.honorable-mention li{
  display: inline-block;
  width: 45%;
  text-align: center;
  list-style-type: disc;
}

.page-inner, .page {
  height: 500px;
}

.page {
  position: absolute;
}

.side {
  overflow: hidden;
}

/* SKILLS SECTION */
.more-design, .more-dev {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.95);
    border-radius: 50%;
    color: #fff;
    height: 150px;
    left: 50%;
    margin: 0 0 0 -75px;
    line-height: 130px;
    position: absolute;
    top: 145px;
    width: 150px;
    cursor: pointer;
    display: none;
    font-size: 16px;
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  width: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.container1 {
  position: relative;
  width: 100%;
  height: 500px;
}

.splitlayout {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
}

.side {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 50%;
  height: 500px;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.page-inner h2 {
  margin: 0 0 1em 0;
  font-weight: 300;
  font-size: 2.4em;
}

.ps:before { background-color: #6a000f; }
.ai:before { background-color: #00366e; }
.ae:before { background-color: #ffffff; }
.indesign:before { background-color: #cba67d; }

.html:before { background-color: #4ACAB4; }
.css:before { background-color: #FF8153; }
.jquery:before { background-color: #142640; }
.js:before { background-color: #555555; }

.chart-legend {
  position: relative;
  top: 100px;
  width: 100%;
  margin: 0 auto;
  display: none;
}

.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 120px auto 0;
}
.chart-legend li {
    line-height: auto;
    position: relative;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 16px;
}

.chart-legend  li:before {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 3px;
    content: "";
}

/* PORTFOLIO SECTION */
.list-parent{
  display: inline;
}

  .nav.navbar-nav{
    float: right;
}

.portfolio-piece {
  width: 44vw;
  margin: 0 auto;
  float: right; 
}

.port-project {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.title {
  width: 100%;
  height: 100%;
  float: left;
  background: rgba(255, 96, 0, .85);
  display: none;
  text-align: center;
  z-index: 1;
}

.title span {
  position: relative;
  color: #fff;
  top: 30%;
  font-weight: 600;
  font-size: 20px;
}

.sheet {
  position: absolute;
  background: white;
  opacity: .85;
  width: 100%;
  height: 100%;
  display: none;
  right: 0;
  top: 0;
  z-index: 5;
} 

.thumb {
  width: 16%;
  height: 220px;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center
}

.close-carousel {
  width: 25px;
  height: 25px;
  border-radius: 0%;
  background: #555;
  border: 1px solid #555;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 99;
  right: 4%;
  top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.close-carousel:hover{
  background: #fff;
  color: #555;
  border-radius: 50%;
}

.carousel-control img {
  width: 40px;
}

.image {
  width:55%;
  position: absolute;
  left: 0;
  min-height: 450px;
  background: red;
}

.expand {
    z-index: 6; 
    top:-2px; 
    position: relative; 
    width: 100%; 
    margin: 0 auto; 
    display: none;
    float: left;
    overflow-x: hidden;
}

.port-container{
  width: 55%;
}

/* RESUME*/
.resume {
    background: #f7f7f7 url('') repeat-x center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    margin-top: -2px; 
    height: 250px; 
    width: 100%;
    float: left;
}


.contact {
  color: #fff; 
  text-align: center;
  padding: 10px 45px;
  position: relative;
  background: #555;
  top: 35px;
}

.contact:hover{
  background: #142640;
  color: #fff;
}

.contact span {
  font-size: 30px;
}

#contact {
  margin-top: 15px;
}


/* FOOTER SECTION */
footer {
  background: black;
  color: white;
  width: 100%;
  height: 100px;
  float: left;
}

footer p {
  line-height: 30px;
}

.pull-right {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  background: #000;
  border: 1px solid #fff;
}

.pull-right {
  font-weight: 600;
  color: #fff;
}

.pull-right:hover {
 color: #000;
 background: #fff;
 border: 1px solid #000;
}



/*RESPONSIVE STYLING*/
@media screen and (max-width: 1550px) and (min-width: 1201px){
  .thumb{
    height: 200px;
    width: 24%;
  }
}


@media only screen and (min-width: 1000px){
  .windowMeasure {float:none;}
}


@media only screen 
and (max-width: 1100px)
and (min-width: 800px){

  .chart-legend ul {
    margin: 100px auto 0;
  }

  .chart-legend li:before {
    left: -30px;
  }

  .chart-legend li {
    display: block;
    font-size: 14px;
    text-align: left;
    left: 75px;
    top: 0;
  }

}


@media screen and (max-width: 1200px) and (min-width: 800px) {
  .port-project {
    text-align: center;
  }

   .thumb{
    width: 32%;
    height: 200px;
   }
}

@media only screen and (max-width : 979px){
  .nav.navbar-nav{
    float: inherit !important;
    text-align: center;
  }

  .navbar-nav > li > a:hover{
    border-bottom-color: #fff !important;

  }
}


@media screen and (max-width: 799px){
  hr {
    margin: 20px 0;
  }

  section {
    padding: 0;
  }  

  .more-design, .more-dev{
    font-size: 14px;
  }

  .port-container{
    width: 100%;
  }

  .portfolio-piece{
    height: 85vw;
    float: inherit;
    position: relative;
    width: auto;
    margin: 0 auto;
    text-align: center;
   }

  .carousel-control {
    padding-top: 40% !important;
  }

  .carousel-control:hover{
    background: rgba(255, 255, 255, .5);

  }

  .suit {
    left: 50%;
    width: 100%;
    max-width: 800px;
    margin: 0 0 0 -50%;
    top: -20vw;

  }

  .contact {
    padding-top: 5px;
  }

}

@media screen and (min-width: 540px) and (max-width: 799px) {

  .about {
    height: 800px;
  }

  .port-project{
    text-align: center;
  }

   .thumb{
    width: 49%;
    height: 250px;
   }

   .port-container {
      width: 100%;
   }

   .carousel-caption{
    position: relative !important;
    height: inherit !important;
    right: 0 !important;
    width: 100% !important;
   }

}

@media only screen and (max-width: 629px){
  .more-design, .more-dev{
    top: -5px;
    font-size: 25px;
  }

    .grid1 .figure h2, .grid1 .figure p {
      font-size: 15px;
      margin: 0 auto !important;
    }

    .figure.effect-bubba p {
      padding: 10px 0 0 0 !important;
      font-size: 15px !important;
    }

}


@media screen and (max-width: 615px){
  .intro-content h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 610px) and (min-width: 535px){
  .chart-legend li:before {
    left: 0px;
    height: 12px;
    width: 12px;
  }

  .chart-legend li {
    font-size: 12px;
  }

}


@media screen and (max-width: 539px) {
  section p, .navbar-nav li a, .close-carousel, #contact span, footer {
    font-size: 14px;
  }

  h1 {
    font-size: 32px !important;
  }
  .about {
    height: 650px;
  }

   .thumb{
      width: 49%;
      height: 170px;
   }

  .chart-legend li:before {
    left: -30px;
  }

  .profile {
      margin: 40px auto -80px !important;

  }

  .chart-legend li {
    display: block;
    font-size: 14px;
    text-align: left;
    left: 75px;
    top: 0;
  }

  .carousel-control {
    padding-top: 30% !important;
  }


   .carousel-caption{
    position: relative !important;
    height: inherit !important;
    right: 0 !important;
    width: 100% !important;
   }
}

@media (max-height: 660px){
  .intro-content {
    top: 25%;
  }
}

@media (max-width: 350px){
  .chart-legend {
    right: 25%;
  }
  .intro-content h1 {
  	font-size: 20px !important;
  }
}


/*High Res */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

