<section class="hero">

    <div class="hero-overlay">

        <div class="hero-content">

            <span class="eyebrow">
                Building Leaders Since Day One
            </span>

            <h1>
                Building Tomorrow's
                <br>
                Billionaires Today
            </h1>

            <p>
                Empowering youth through literacy,
                STEM, entrepreneurship,
                sports, leadership and life skills.
            </p>

            <div class="hero-buttons">

                <a href="membership.html" class="btn-primary">
                    Become A Member
                </a>

                <a href="programs.html" class="btn-secondary">
                    Explore Programs
                </a>

            </div>

        </div>

    </div>

</section>
